<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>coupen</title>
</head>
<body>
    <div class="applyCoupon">
  <form class="applyCoupon_form" action="{% url 'add' %}" method="post" >
    {% csrf_token %}
    {{ form }}<br><hr>

    <input type="submit" value="verify">
  </form>
</div>
{% if messages %}
<ul>
    {% for message in messages %}
        <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

</body>
</html>



<!--code : <input type="text" name="code" required><br>-->
<!--     GENDER <input type="radio" name="gender" value="male">Male-->
<!--            <input type="radio" name="gender" value="female">Female <br>-->
<!--      start date : <input type="date" name="start_date" required><br>-->
<!--      end date : <input type="date" name="end_date" required><br>-->
<!--      discount : <input type="number" name="discount" required><br>-->
<!--      active : <input type="checkbox" name="active" required><br>-->

<!-- Code : <input type = "text" class = "normal" style='text-transform:uppercase' name = "code" >-->