<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add</title>
</head>
<body>
    <h1>COUPON-ADD......</h1><br><hr>
    <div class="applyCoupon">
  <form class="applyCoupon_form" action="{% url 'add' %}" method="post" >
    {% csrf_token %}
    {{ form }}<br><hr>

    <input type="submit" value="verify">
  </form>
</div>
{% if messages %}
<ul>
    {% for message in messages %}
        <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

</body>
</html>

